<form (ngSubmit)="onSubmit()" *ngIf="!submitted || !success">

  <div fxLayout="row">

    <div fxFlex></div>

    <div class="changePassword">

      <div>
        <mat-form-field fxFill *ngIf="!signedInWithTicket">
          <input matInput placeholder="original password" [(ngModel)]="password" name="originalPassword" required
            #tvOriginalPassword="ngModel" [type]="passwordView">
        </mat-form-field>

        <mat-form-field fxFill>
          <input matInput placeholder="new password" [(ngModel)]="newPassword" name="password" required #tvPassword="ngModel"
            [type]="passwordView">
        </mat-form-field>

        <mat-error *ngIf="tvOriginalPassword? tvOriginalPassword.touched && tvOriginalPassword.invalid : false">
          original password is required
        </mat-error>

        <mat-error *ngIf="tvPassword.touched && tvPassword.invalid">
          password is required
        </mat-error>

      </div>

      <div fxLayout="row" class="MT">

        <div fxFlex></div>

        <div>
          <button mat-stroked-button>
            <mat-icon>save</mat-icon>
            save
          </button>

          <button mat-stroked-button type="button" (click)="viewPassword()">
            <mat-icon>{{ passwordVisibility }}</mat-icon>
            {{ passwordViewText }}
          </button>

          <button mat-stroked-button type="button" (click)="clearPasswords()">
            <mat-icon>close</mat-icon>
            clear
          </button>
        </div>

        <div fxFlex></div>
      </div>

      <div *ngIf="submitted && success" class="Feedback">
        <mat-icon>done</mat-icon>
        {{ message }}
      </div>

      <div *ngIf="submitted && !success" class="Feedback">
        <mat-icon>error_outline</mat-icon>
        {{ message }}
      </div>

    </div>

    <div fxFlex></div>

  </div>

</form>